.unit-frame-trinkettracker {
  position: absolute;
  top: 60px;
  left: 52px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
}

.unit-frame-trinket-cooldown {
  position: relative;
}

.unit-frame-trinket-ready {
  box-shadow: 0 0px 3px 0 rgba(255, 255, 255, 1);
  position: relative;
}
