.unit-frame-spec-icon-root {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 4px;
  top: 4px;
}

.unit-frame-spec-icon-ring {
  position: absolute;
  background-image: url(https://images.wowarenalogs.com/common/UI-Ring.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.unit-frame-spec-icon {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: 4px;
  left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}
