.unit-frame-cast-bar-root {
  position: absolute;
  top: 54px;
  left: 78px;
  width: 120px;
  height: 10px;
}

.unit-frame-cast-bar-fill {
  position: absolute;
  height: 10px;
}

.unit-frame-cast-bar-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50px;
  top: 12px;
  border-radius: 4px;
  z-index: 100;
}
