.unit-frame-root {
  width: 200px;
  height: 100px;
  position: relative;
}

.unit-frame-texture {
  position: absolute;
  background-image: url(https://images.wowarenalogs.com/common/UI-Player-Portrait.png);
  top: 8px;
  left: 8px;
  width: 196px;
  height: 74px;
}

.unit-frame-name {
  position: absolute;
  top: 8px;
  left: 80px;
  width: 118px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 10;
}
