.replay-event-unit-icon-root {
  width: 28px;
  height: 28px;
  position: relative;
}

.replay-event-unit-icon-ring {
  position: absolute;
  background-image: url(https://images.wowarenalogs.com/common/UI-Ring.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.replay-event-unit-icon {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
