.combat-report-replay-root {
  position: relative;
  height: calc(100vh - 276px);
  width: 100%;
}

.desktop.combat-report-replay-root {
  height: calc(100vh - 216px);
}

.combat-report-replay-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.combat-report-replay-area {
  flex: 1;
}
