.combat-report-hp-update-bar {
  border: solid 1px #000;
  min-width: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.combat-report-hp-update-spell-icon {
  border-radius: 4px;
  width: 16px;
  height: 16px;
  background-size: cover;
  margin-left: 4px;
}
