.winners {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #faad14;
}

.match-list-content {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.match-list-scroll-bar {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.match-list-class-color-block {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-size: contain;
}

.match-list-item-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-weight: 400;
}
