.pageLayout {
  align-items: center;
  width: 100%;
  min-height: 100vh !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.desktop.pageLayout {
  padding-top: 32px;
  height: 100vh !important;
  max-height: 100vh !important;
}

.pageHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desktop .pageHeader {
  padding: 0 16px 0 0;
}

.logo {
  cursor: pointer;
  margin-right: 16px;
}

.navMenu {
  font-weight: bold;
  text-transform: uppercase;
}

.pageContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 50px;
}
.desktop .pageContent {
  padding: 16px 20px 0 20px;
  overflow-y: auto;
}

.pageFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}

@media (max-width: 800px) {
  .pageContent {
    padding: 16px 16px !important;
  }
  .pageHeader {
    padding: 0 16px !important;
  }
  .pageFooter {
    padding: 8px 16px !important;
  }
}

.pageWidthCapped {
  width: 100%;
  max-width: 1600px;
  position: relative;
}

.desktop .pageWidthCapped {
  max-width: unset;
}

.scrollable {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: scroll;
}

.scrollbar {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
